src/views/pages/index.pug
//- index.pug
extends ../layout/h1.pug
block main
  .mainWrapper.first-screen.uk-flex
    .first-screen__bg
      #hm-first-screen-bg
        .first-screen__bg-item(style="background-image: url(../img/bg-hm.png)")
        .first-screen__bg-item(style="background-image: url(../img/bg-hm.png)")
        .first-screen__bg-item(style="background-image: url(../img/bg-hm.png)")
    .first-screen__wrap.uk-flex.uk-flex-column.uk-flex-space-between
      block header
        include ../template/header.pug
        +header('home')
      block content
          .first-screen__cont.uk-flex
            .container-content.uk-flex
              .first-screen__cont-wrap.uk-flex.uk-flex-bottom
                div
                  include ../template/hm-actions-slider.pug
                  include ../template/hm-service.pug
          .first-screen__bottom
            include ../template/footer.pug
            +footer().footer_w
      block footer

build/index.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><meta name="keywords" content=""><meta name="description" content=""><meta name="author" content=""><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="shortcut icon" href="/favicon.ico"><link rel="stylesheet" href="/css/main.css"><title>База холод</title></head><body><div class="mainWrapper first-screen uk-flex"><div class="first-screen__bg"><div id="hm-first-screen-bg"><div class="first-screen__bg-item" style="background-image: url(../img/bg-hm.png)"></div><div class="first-screen__bg-item" style="background-image: url(../img/bg-hm.png)"></div><div class="first-screen__bg-item" style="background-image: url(../img/bg-hm.png)"></div></div></div><div class="first-screen__wrap uk-flex uk-flex-column uk-flex-space-between"><header class="header"><div class="container-content"><div class="header__left uk-float-left"><div class="menu-btn" data-uk-modal="{target:'#modal-menu'}"><button class="menu-btn__bar"><span class="menu-btn__line"></span><span class="menu-btn__line"></span><span class="menu-btn__line"></span></button><div class="menu-btn__txt">Меню</div></div><div class="uk-display-inline-block"><a class="header__logo" href="/"><img src="../img/logo-16.png"><img src="../img/logo-txt.png"></a></div></div><div class="header__right new-context"><div class="lang"><a class="btn btn_active btn_active-left btn_white" href="#">RU</a><a class="btn btn_active-left btn_white" href="#">EN</a></div><div class="uk-float-right"><div class="header__contacts"><a class="header__phone" href="tel:+7 (495) 934-70-00">+7 (495) 934-70-00</a><div class="header__adress">г. Москва, ул. Производственная, д. 11</div></div><div class="header__right-btns"><a class="btn btn_line btn_active btn_active-left btn_white" href="#"><span class="btn__txt">Личный кабинет</span><span class="btn__line"></span></a><a class="btn btn_line btn_active btn_active-right btn_white" href="#modal-news" data-uk-modal><span class="btn__txt">Новости и объявления</span><span class="btn__line"></span></a></div></div></div></div></header><div class="first-screen__cont uk-flex"><div class="container-content uk-flex"><div class="first-screen__cont-wrap uk-flex uk-flex-bottom"><div><div class="hm-actions-slider"><div class="hm-actions-slider__slides" id="hm-actions-slider"><div class="hm-actions-slider__slide"><div class="uk-flex uk-flex-wrap uk-flex-space-between uk-flex-middle"><div class="hm-actions-slider__caption"><h2 class="hm-actions-slider__title">Свой парк электропогрузчиков</h2><p>Зарядных цех для электропогрузчиков арендаторов</p></div><div class="hm-action-box uk-text-center"><div class="hm-action-box__right"><span class="hm-action-box__right-txt">Акция</span></div><div class="hm-action-box__cont"><div class="hm-action-box__title">Название акции</div><p>Арендные каникулы 2 недели при заключении договора аренды до конца лета!</p><a class="btn btn_dark btn_line btn_active btn_active-left" href="#"><span class="btn__txt">Заказать</span><span class="btn__line"></span></a></div></div></div></div><div class="hm-actions-slider__slide"><div class="uk-flex uk-flex-wrap uk-flex-space-between uk-flex-middle"><div class="hm-actions-slider__caption"><h2 class="hm-actions-slider__title">Свой парк электропогрузчиков</h2><p>Зарядных цех для электропогрузчиков арендаторов</p></div><div class="hm-action-box uk-text-center"><div class="hm-action-box__right"><span class="hm-action-box__right-txt">Акция</span></div><div class="hm-action-box__cont"><div class="hm-action-box__title">Название акции</div><p>Арендные каникулы 2 недели при заключении договора аренды до конца лета!</p><a class="btn btn_dark btn_line btn_active btn_active-left" href="#"><span class="btn__txt">Заказать</span><span class="btn__line"></span></a></div></div></div></div></div><div class="hm-actions-slider__bottom"><div class="hm-actions-slider__arrow hm-actions-slider__arrow_left sprite-arrow-left_w" id="hm-actions-slider-prev"></div><div class="hm-actions-slider__arrow hm-actions-slider__arrow_right sprite-arrow-right_w" id="hm-actions-slider-next"></div><div id="hm-actions-slider-pager"><a class="bx-pager-link" data-slide-index="0" href=""></a><a class="bx-pager-link" data-slide-index="1" href=""></a></div></div></div><div class="hm-service uk-grid uk-grid-collapse uk-grid-width-large-1-3" data-uk-grid-match><div class="hm-service__item"><div class="hm-service__title">Аренда складов и офисов</div><div class="hm-service__cont"><ul class="hm-service__list"><li>Холодильные склады -1 +6</li><li>Морозильные склады -20 - 18</li><li>Сухие (теплые) склады</li><li>Офисы</li><li>Производственные помещения</li></ul></div></div><div class="hm-service__item"><div class="hm-service__title">Ответственное хранение</div><div class="hm-service__cont"><ul class="hm-service__list"><li>От 1 паллета</li><li>От 1 дня</li><li>Все температурные режимы</li></ul></div></div><div class="hm-service__item"><div class="hm-service__title">Кросс-докинг</div><div class="hm-service__cont"><ul class="hm-service__list"><li>От 1 Выгружаемые из железнодорожных вагонов в фуры и обратно</li><li>Перегружаем фуры в легкие грузовики</li><li>Собственный парк электропогрузчиков</li></ul></div></div></div></div></div></div></div><div class="first-screen__bottom"><footer class="footer footer_w"><div class="container-content"><div class="uk-float-left"><div class="social"><a class="social__item" href=""><i class="uk-icon-facebook"></i></a><a class="social__item" href=""><i class="uk-icon-vk"></i></a><a class="social__item" href=""><i class="uk-icon-odnoklassniki"></i></a></div></div><div class="uk-float-right"><div class="copy">Сайт разработан в <a>Elgrow</a> 2016</div></div></div></footer></div></div></div><div class="uk-modal modal" id="modal-menu"><div class="uk-modal-dialog uk-modal-dialog-blank modal__dialog-news"><div class="uk-height-viewport uk-flex uk-flex-column uk-flex-space-between"></div></div></div><div class="uk-modal modal" id="modal-news"><div class="uk-modal-dialog uk-modal-dialog-blank modal__dialog-news"><div class="uk-height-viewport" id="modal-news-cont"><div class="uk-modal-spinner"></div></div></div></div><div class="uk-modal modal" id="modal-recall"><div class="uk-modal-dialog modal-bg modal-width-small"><a class="uk-modal-close uk-close"></a><div class="title title_line-s uk-text-center">Оставить заявку</div><p class="uk-text-center">Ваше сообщение успешно отправлено! Наши специалисты свяжутся с Вами в ближайшее время. Спасибо, что выбрали агрофирму "КРиММ"</p></div></div><script src="/js/main.js"></script></body></html>
